<div id="login-div" class="content-centered">
        <h1 class="display-2 py-5">Register</h1>
        <form [formGroup]="form" (ngSubmit)="signup()">
        <div id="user-div" class="row">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="" formControlName="firstName">
            </mat-form-field>
        </div>
        <div id="user-div" class="row">
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="" formControlName="lastName">
                </mat-form-field>
        </div>
        <div id="user-div" class="row">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="" formControlName="username">
                </mat-form-field>
        </div>
        <div id="user-div" class="row">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" formControlName="email">
                </mat-form-field>
        </div>
        <div id="pass-div" class="row">
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="pass1" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div id="pass-div" class="row">
                <mat-form-field>
                    <input matInput placeholder="Repeat your password" formControlName="pass2" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        <div id="pass-div" class="row mt-3 mb-5">
            <button mat-button type="submit">Sign Up!</button>
        </div>
    </form>
    </div>