<!-- Navigation -->
<nav *ngIf="!router.url.includes('home')" class="navbar navbar-expand-lg navbar-dark" style="background-color: #0000A0" >
  <div class="container my-0">
      <a class="navbar-brand" href="#">
          <img src="../assets/images/logo2.png" height="30" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#">Autores <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link font-weight-bold" routerLink= "/libros/list" routerLinkActive="active" >Libros</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link font-weight-bold" routerLink= "/novedades" routerLinkActive="active">Novedades<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link font-weight-bold" routerLink= "/promociones" routerLinkActive="active">Promociones</a>
                    </li>
            </ul>
          </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink= "/auth/micarrito" routerLinkActive="active">Mi carrito
              </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink= "/auth/login" routerLinkActive="active">LogIn
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/auth/signup" routerLinkActive="active">Sign up</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<router-outlet ></router-outlet>
