
<div class = "container-fluid">
        
        <div class = "row mx-0">
            <div class = "col-3 bg-light h-100">
                <div class="col mt-3 ">
                    <p class="font-weight-bold mb-3">Categoría</p>
                    <p class="font-weight-light">Literatura y ficción</p>
                    <p class="font-weight-light">Negocios y profesionales</p>
                    <p class="font-weight-light">No ficción</p>
                    <p class="font-weight-light">Otros</p>
                    <p class="font-weight-bold mb-3">Máximo precio</p>
                    <div class="range">
                        <input type="range" name="range" min="10000" max="300000" value="300000" onchange="range.value=value">
                        <output id="range">300000</output>
                    </div>
                </div>
            </div>
            <div class="col" style="display: flex; flex-wrap: wrap;">
                <div *ngFor="let book of filteredBooks; trackBy: trackId" class="card" style="width: 20%; margin: 2%;">
                    <a href="libros/{{book.id}}"><img src="{{book.image}}" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <p class="card-title font-weight-bold">{{book.name}}</p>
                        <p class="card-text">${{book.precio}} COP</p>
                        <p class="card-text">{{book.descuento}}%</p>
                        <div class="card-footer align-text-bottom">
                            <p class="btn btn-info align-text-bottom"><mat-icon>add_shopping_cart</mat-icon></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>