<div class="h-40 w-100  my-0 ">
    <mat-carousel timings="250ms " [autoplay]="true" interval="5000" color="" maxWidth="auto" proportion="30" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide #matCarouselSlide [overlayColor]="FFFFFF" *ngFor="let x of m;">
      
        <img src={{x}} height="auto" width="auto">
    </mat-carousel-slide>
  </mat-carousel>
</div>

    <h1><a id="txt">Los más vendidos</a></h1>
    <app-book-list2></app-book-list2>
    <h1><a id="txt">Sugerencias para ti</a></h1>