#user-div {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
},
.text--blue {
    color: #121a2f!important;
}

#txt{
    font-size: 75px;
    font-weight: 900;
}